.texto-principal {
  align-items: flex-start;
  margin-top: 119px;
}

.title {
  color: var(--mustard);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  line-height: normal;
  margin-top: -1px;
  text-align: center;
}

.texto-secundario-tex-home {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

.texto-secundario-tex-texto-secundario-tex {
  color: var(--dark-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: 32.2px;
  margin-top: -1px;
  text-align: center;
  width: 794px;
}

.componente-informativo {
  align-items: center;
  background-color: var(--mustard);
  border-radius: 20px;
  box-shadow: 0px 4px 20px var(--mustard-opacity);
  display: flex;
  gap: 175px;
  height: 301px;
  margin-top: 77px;
  min-width: 1182px;
  padding: 59px 278px;
}

.caritas-negras {
  width: 182px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 13px;
  min-height: 148px;
}

.texto-sobre-otro-elemento-texto-sobre-otro-elemento {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 88px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: 266px;
}

.botn-7 {
  background-color: var(--black);
  border-radius: 10px;
  height: 35px;
  padding: 5px 97.8px;
}

.botn-8 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .texto-principal {
    margin-top: 80px;
  }

  .texto-secundario-tex-home {
    margin-top: 20px;
  }

  .componente-informativo {
    margin: 0 auto;
    margin-top: 65px;
    gap: 80px;
    min-width: 0;
    width: 95%;
    justify-content: center;
  }
}

@media screen and (max-width: 570px) {
  .componente-informativo {
    flex-direction: column;
    gap: 60px;
    height: 480px;
    margin: 60px 20px;
    padding: 40px 40px;
    width: 90%;
  }

  .texto-principal {
    align-items: center;
    margin-top: 85px;
  }

  .texto-secundario-tex-home {
    display: block;
    margin-left: 30px;
  }

  .texto-secundario-tex-texto-secundario-tex {
    width: 90%;
  }
}
