<div class="container-center-horizontal">
  <div class="home screen">

    <header class="header">
      <div class="logo"></div>

      <input type="checkbox" id="botn-menu">
      <label id="menu" for="botn-menu">
        <span class="botn-open">&#9776;</span>
        <span class="botn-close">X</span>
      </label>

      <div class="nav">
        <div class="botn-2"><div class="botn-3 valign-text-middle inter-medium-white-16px option-navigation">botón</div></div>
        <div class="botn-1"><div class="botn-4 valign-text-middle inter-medium-white-16px option-navigation">botón</div></div>
        <div class="botn-1"><div class="botn-5 valign-text-middle inter-medium-white-16px option-navigation">botón</div></div>
      </div>
    </header>

    <main class="main">
      <app-main></app-main>
    </main>

    <footer class="footer">
      <div class="botn-9"><div class="botn-6 valign-text-middle inter-medium-white-16px">botón</div></div>
    </footer>
  </div>
</div>
