.home {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.home .header {
  align-items: center;
  background-color: var(--black);
  display: flex;
  height: 121px;
  justify-content: space-around;
  min-width: 1440px;
  padding: 25px 129px;
}

.home .logo {
  align-self: flex-start;
  background-image: url(../../assets/img/logo@2x.png);
  background-size: cover;
  height: 70px;
  width: 65px;
}

#botn-menu, #menu{
  display: none;
}

.home .nav {
  display: flex;
}

.home .botn-1 {
  margin-left: 112px;
}

.home .botn-2 {
  margin-left: 737px;
}

.home .option-navigation {
  cursor: pointer;
}

.home .footer {
  align-items: center;
  background-color: var(--black);
  display: flex;
  height: 47px;
  justify-content: flex-end;
  margin-top: 234px;
  padding: 0 697px;
}

@media screen and (max-width: 1440px) {
  .home {
    width: 100%;
  }

  .home .header {
    justify-content: flex-start;
    min-width: 0;
    width: 100%;
  }

  .home .nav {
    display: none;
  }

  .main {
    width: 100%;
  }

  .home .footer {
    align-items: center;
    background-color: var(--black);
    display: flex;
    height: 47px;
    margin-top: 234px;
    width: 100%;
  }

  .home .footer {
    justify-content: center;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .home .header {
    justify-content: space-between;
    padding: 25px 0;
  }

  .home .logo {
    margin-left: 30px;
  }

  #botn-menu:not(:checked) ~ .nav {
    display: none;
  }

  #botn-menu:checked ~ .nav {
    display: block;
  }

  .home .botn-1, .home .botn-2 {
    margin-left: 0;
  }

  #menu {
    color: var(--mustard);
    display: block;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 800;
    margin-right: 30px;
    z-index: 999;
  }

  .botn-close {
    display: none;
  }

  #botn-menu:checked ~ label .botn-open {
    display: none;
  }

  #botn-menu:checked ~ label .botn-close {
    display: block;
  }

  .home .nav {
    background-color: var(--black);
    height: 100%;
    opacity: 0.93;
    padding-right: 4em;
    padding-top: 1em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 120px;
    width: 100%;
  }

  .home .botn-1, .home .botn-2 {
    margin: 35px 0 35px;
  }

  .home .option-navigation {
    font-size: var(--font-size-l);
  }

  .home .botn-9 {
    text-align: center;
    width: 100%;
  }
}
